body {
  margin: 0;
  background-color: pink;
}
#box {
  height: 300px;
  width: 300px;
  background-color: blue;
}
#box2 {
  height: 300px;
  width: 300px;
  background-color: blue;
  background-color: yellow;
}
#box2 {
  border: 10px solid #ffffff;
  border: 20px solid #ffffff;
}
#box2 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
