body {
  margin: 0;
  background-color: pink;
}
#box {
  height: 300px;
  width: 300px;
  background-color: blue;
}
#box2 {
  height: 300px;
  width: 300px;
  background-color: blue;
  background-color: yellow;
}
#box2 {
  border: 10px solid #ffffff;
  border: 20px solid #ffffff;
}
#box2 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#sjx {
  border: 20px solid transparent;
  border-right-color: #ffff00;
  height: 0px;
  width: 0px;
  overflow: hidden;
}
#box3 {
  height: 50px;
  width: 50px;
  background-color: #2d2d2d;
}
#list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px;
  border: 2px solid blue;
}
#list .listl {
  border: 2px solid pink;
}
#list .listl .lib {
  height: 5px;
  background-color: gray;
}
a {
  color: black;
}
a:hover {
  color: red;
}
